src/main/mule/myapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="eb31aa64-774c-4e1a-a579-accb96cb1a65" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="08fcab85-2138-4ef8-b275-dced0b8d30ad" file="app-dev.yaml" />
	<flow name="myappFlow" doc:id="19b4ef1e-d1a3-4083-8963-3bd51544868d" >
		<http:listener doc:name="Listener" doc:id="f3ecb1cd-1c9c-4be2-aa93-9b793e286277" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="#['hello ' ++ attributes.queryParams.username]" doc:name="Set Payload" doc:id="0b1cada6-91e5-4c35-96a0-62bf1a43fd03" />
		<logger level="INFO" doc:name="Logger" doc:id="f7b5a9a1-b28b-4b0e-927b-10fe968c8968" />
	</flow>
</mule>
